/* Import Montserrat and Ubuntu fonts  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap");

:root {
  --main-color: #46a67e;
  --secondary-color: #f0fff5;
  --box-color: rgba(103, 189, 153, 0.2);
  --text-color: #828282;
  --color-1: #467a66;
  --color-2: #2f463d;
  --color-3: ##7a8f85;
  --color-4: #fff;
  --grey-1: #bdbdbd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://assets.codepen.io/6060109/ZigZag.png");
  font-family: Montserrat;
}

h2 {
  color: #2f463d;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5%;
}

p {
  font-family: Ubuntu;
  color: var(--text-color);
}

.main-container {
  background-color: var(--color-4);
  border-radius: 5px;
  width: 327px;
  height: 567px;
  margin: 50% auto;
  text-align: center;
  box-shadow: 0px 40px 40px -20px #3c7b61;
  position: relative;
  padding: 3%;
  line-height: 26px;
}

.cross-icon {
  position: absolute;
  right: 2%;
  top: 2%;
}

.smiley-emoji {
  margin: 10%;
}

.food-item {
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 279px;
  height: 66px;
  margin: 10% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmation-button,
.choose-button,
.process-button {
  background-color: var(--main-color);
  border-radius: 5px;
  color: #fff;
  padding: 5% 25%;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0 20px 20px 0 var(--box-color);
  border: none;
  transition: 0.5s ease-in-out all;
}

.confirmation-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s ease-in-out all;
}

.item-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.food-item a {
  font-size: 13px;
  font-weight: 700;
  text-decoration-line: underline;
  columns: var(--color-1);
  margin: 0 15px 0 30px;
}

.food-item p {
  color: var(--color-2);
  font-weight: 800;
  font-size: 14px;
}

.food-item span {
  color: var(--color-3);
  font-weight: 500;
  font-size: 14px;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  background-color: var(--grey-1);
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin: 20px 5px;
}

.green {
  background-color: var(--main-color);
}

/* .ellipsis {
  position: absolute;
  bottom: 30px;
  right: 40%;
} */

.choose-container,
.process-container {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .choose-container,
  .process-container {
    display: block;
    background-color: var(--color-4);
    border-radius: 5px;
    width: 327px;
    height: 567px;
    margin: 50% 0;
    text-align: center;
    position: relative;
    line-height: 26px;
    box-shadow: 0px 40px 40px -20px #3c7b61;
  }

  .choose-container {
    margin-right: -10%;
    z-index: -1;
    /* height: 500px; */
  }

  .process-container {
    margin-left: -30%;
    z-index: -1;
    /* height: 600px; */
  }

  .main-container {
    padding: 1%;
    z-index: 9;
    width: 400px;
  }

  .all-container {
    display: flex;
    justify-content: center;
  }

  .choose-button,
  .process-button {
    background-color: var(--grey-1);
    box-shadow: 0px 20px 20px 0px rgba(167, 167, 167, 0.2);
    width: 250px;
    height: 45px;
    padding: 2px;
    position: absolute;
    left: 50%;
    bottom: 18%;
    transform: translateX(-50%);
    transition: 0.5s ease-in-out all;
  }

  .choose-button:hover,
  .process-button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
  }

  .burger-emoji,
  .scooty-emoji {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 109px;
    height: 109px;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-2);
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  .left,
  .right {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
